<ion-view view-title="Volunteers" ng-controller="appCtrl">
	<ion-nav-bar class="bar-givelight">
	  <ion-nav-back-button>
	  </ion-nav-back-button>

	  <ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
	    </button>
	  </ion-nav-buttons>
	</ion-nav-bar>

	<ion-side-menus>
	  <!-- Left menu -->
	  <ion-side-menu side="left">
	  	<ion-list>
	  		<ion-item style="height:150px; background-color:#333;" class="item-avatar item-icon givelift-profile">
	  		  <img style="left: 80px;" ng-src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
	  		</ion-item>
	  	</ion-list>
	    <ion-list>
	      <ion-item class="item-icon-left side-menu-list-item">
	        <i style="color:#ccc;" class="icon ion-calendar"></i>SCHEDULE
	      </ion-item>
	    </ion-list>
	    <ion-list>
	      <ion-item class="item-icon-left side-menu-list-item" ng-click="progress()">
	        <i style="color:#ccc;" class="icon ion-load-d"></i>PROGRESS
	      </ion-item>
	    </ion-list>
	    <ion-list>
	      <ion-item class="item-icon-left side-menu-list-item">
	        <i style="color:#ccc;" class="icon ion-ios-list-outline"></i>ANALYSIS
	      </ion-item>
	    </ion-list>
	    <ion-list>
	      <ion-item class="item-icon-left side-menu-list-item">
	        <i style="color:#ccc;" class="icon ion-ios-gear-outline"></i>SETTING
	      </ion-item>
	    </ion-list>
	    <ion-list>
	      <ion-item class="item-icon-left side-menu-list-item">
	        <i style="color:#ccc;" class="icon ion-flag"></i>ABOUT US
	      </ion-item>
	    </ion-list>

	  </ion-side-menu>

	  <ion-side-menu-content style="overflow:scroll;">
	    <div style="height:45px;"></div>
	    <ion-list ng-repeat="volunteer in volunteers">
	      <ion-item>
	      		{{volunteer.first_name}} {{volunteer.last_name}} <br>
	      		{{volunteer.email}}
	      </ion-item>
	    </ion-list>
	  </ion-side-menu-content>
	  
	</ion-side-menus>
</ion-view>
